$colors: (
    'common': (
        'white': #fff,
        'black': #212121,
        'green': #6AB04C,
        'orange': #FF8C21,
        'cyne': #22A6B3,
        'red': #EB4D4B,
        'purple': #4834D4,
        'blue': #2E86DE,
    ),
    'grey': (
        '1': #D1D1D1,
        '2': #F2F2F2,
        '3': #F3F3F3,
        '4': #9F9F9F,
        '5': #D3D3D3,
        '6': #F8F8F8,
        '7': #B9B9B9,
        '8': #FAFAFA,
        '9': #F5F5F5,
    ),
    'text': (
        'body':#666,
    ),
    'theme': (
        '1': #F50963,
    ),
    'border': (
        '1': #E1E1E1,
        '2': #E6E6E6,
    )
);



$white : #fff;
$black : #212121;
$theme-primary :#F50963;
$border-primary : #F1F1F9;